.btn {
    display: inline-flex;
    width: f;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);

    padding-block: var(--space-2);
    padding-inline: var(--space-4);

    border-radius: var(--space-2);
    border: none;



    font-family: var(--font-family-regular);
    font-size: var(--fs-5);
    line-height: 1;

    text-decoration: none;
    background-color: var(--white-100);
    color: var(--black);

    transition:
        background-color 0.15s ease-out,
        color 0.15s ease-out,
        border-color 0.15s ease-out,
        box-shadow 0.15s ease-out,
        transform 0.08s ease-out;

    white-space: nowrap;
}


.btn>img,
.btn>svg {
    height: 1em;
    width: auto;
    display: block;
    flex-shrink: 0;
}

/* Hover / focus / active */
.btn:hover {
    background-color: var(--white-200);
}

.btn:focus-visible {
    outline: 1px solid var(--blue-400);
    outline-offset: 1px;
}

.btn:active {
    transform: translateY(0px) scale(0.96);
}

/* Состояния */

.btn[disabled],
.btn--disabled {
    background-color: var(--white-200);
    color: var(--white-400);
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    transform: none;
    opacity: 0.7;
}

.bdg {
    width: fit-content;
    padding: var(--space-1) var(--space-3);
    border-radius: var(--space-8);

    color: var(--white-400);
    background-color: var(--white-100);
    border: 1px solid var(--white-300);
}

.bdg p {
    width: fit-content;
    text-align: center;
}


.bdg--red {
    color: red;
    background-color: rgba(255, 0, 0, 0.135);
    border: 1px solid rgba(255, 0, 0, 0.235);
}

.bdg--green {
    color: rgb(37, 137, 52);
    background-color: rgba(4, 254, 49, 0.135);
    border: 1px solid rgba(0, 174, 32, 0.235);
}