/* кнопки, карточки, формы */

/* Кнопки */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);

    padding-block: var(--space-2);
    padding-inline: var(--space-4);

    border-radius: 8px;
    border: 1px solid transparent;

    font-family: var(--font-family-regular);
    font-size: var(--fs-4);
    line-height: 1;


    text-decoration: none;
    background-color: transparent;
    color: var(--black);


    transition:
        background-color 0.15s ease-out,
        color 0.15s ease-out,
        border-color 0.15s ease-out,
        box-shadow 0.15s ease-out,
        transform 0.08s ease-out;

    /* Чтобы иконка не прыгала */
    white-space: nowrap;
}

.btn:focus-visible {
    outline: 1px solid var(--blue-400);
    outline-offset: 1px;
}

.btn:active {
    transform: translateY(0px) scale(0.96);
}


.btn--primary {
    background-color: var(--secondary-500);
    color: #FFFFFF;
}

.btn--primary:hover {
    background-color: var(--secondary-400);
}

.btn--secondary {
    background-color: var(--white-100);
    color: #252525;
}

.btn--secondary:hover {
    background-color: var(--white-200);
}

.btn--invis {
    background-color: transparent;
    color: var(--black);
    padding-block: var(--space-1);
    padding-inline: var(--space-2);
}

.btn--invis:hover {
    border: var(--white-200) 1px solid;
    background-color: var(--white-100);
}

.btn--text {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
}



.btn--text:hover {
    color: var(--white-400);

}

.btn--disabled {
    background-color: var(--white-200);
    color: var(--white-400);
    cursor: not-allowed;
    pointer-events: none;
}

.btn--icon {
    padding: var(--space-2);
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-500);

    width: auto;
    height: auto;
}

.text-link:hover {
    color: var(--orange-500);
}

.btn--icon img {
    width: 24px;
    height: 100%;
    display: block;
    flex-shrink: 0;
}

.btn--icon:hover {
    background-color: var(--primary-600);
}

/* Бейджи */

.badge {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);

    padding-block: var(--space-1);
    padding-inline: var(--space-3);

    border-radius: 80px;
    border: 1px solid transparent;

    font-family: var(--font-family-regular);
    font-size: var(--fs-5);
    line-height: 1;

    text-decoration: none;
    background-color: var(--white-100);
    color: var(--black);
    white-space: nowrap;
}



.badge img {
    height: 20px;
    width: fit-content;
}

.badge--primary {
    background-color: var(--secondary-100);
    border: 1px solid var(--secondary-500);
    color: var(--secondary-500);
    font-weight: 400;
}

.badge--secondary {
    background-color: var(--primary-100);
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
    font-weight: 500;
}

.badge--invis {
    background-color: transparent;
    color: var(--white-500);
    border: 1px solid var(--white-400);
    font-weight: 500;
}

/* Инпуты */

.input {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--space-2);
}

.input--field {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;
    padding-block: var(--space-2);
    padding-inline: var(--space-3);
    box-sizing: border-box;

    border-radius: var(--space-2);
    border: 1px solid var(--white-200);

    background-color: var(--white-50);
    color: var(--black);

    font-family: var(--font-family-regular);
    font-size: var(--fs-4);
    line-height: 1;
}



/* Hover / focus */

@media (max-width: 767px) {
    .input {
        flex-direction: column;
        align-items: stretch;
    }

}